<div class="top-bar">
    <span class="app-name">Test App</span>
    <div class="dropdown menu">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" routerLink="/">People</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/blank">Pets</a></li>
          <li><a class="dropdown-item" href="#" (click)="gotoGoogle()">Google <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
        </ul>
      </div>
</div>
<router-outlet></router-outlet>
